html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: #2a2a2a;
  color: #fff;
  cursor: url(../img/icon.png) 15 15, move;
}

/* Headers Uppercase */
h1 {
  font-size: 96px;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 span {
  float: right;
}

/* Headers Uppercase */

.container {
  max-width: 1240px !important;
}

.navbar {
  font-size: 18px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3) !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 0px;
}

.navbar .dropdown-menu .dropdown-item {
  font-weight: 500;
}

.bg-transparent.scrolled {
  background: #2a2a2a !important;
}

.pt-4 {
  padding-top: 3rem !important;
}

/* Index Page */
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.1);
  background-image: url("../img/water.png");
  background-size: 150px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    /* Start position */
    background-position: left 0px top 120px;
  }
  40% {
    /* Speed of left to right */
    background-position: left 600px top 0px;
  }
  80% {
    background-position: left 1800px top -50px;
  }
  100% {
    background-position: left 2400px top 80px;
  }
}

/* Index Page */

/* Homepage & About Me Carousel */

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center fixed;
  background-size: cover;
  background-position: center;

  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

#carousel-item2 {
  background: url("../img/projects/mediacampaign/fontys.jpg");
}

#carousel-item3 {
  background: url("../img/projects/easteregg/homepage-picture.png");
}

/* Homepage & About Me Carousel */

/* Projects */

.projects-body {
  background-color: #fff;
  color: #2a2a2a;
}

.projects {
  background-image: url("../img/image1.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  border: none;
  height: 500px;
}

.projects .card-footer {
  background-color: transparent;
  border: none;
  border-radius: 0px !important;
}

.project-href {
  text-decoration: none !important;
  color: black !important;
}

/* Custom CSS for card swap on hover with footer */
.project-hidden-footer {
  display: none;
  background-color: #fff;
  /* Initially hide the second card */
}

.projects:hover .project-visible-footer {
  display: none;
  /* Hide the first card when hovered */
}

.projects:hover .project-hidden-footer {
  display: block;
  background-color: #fff;
  /* Show the second card when hovered */
}

.projects {
  background-size: cover;
  background-position: center;
}

.card-1 {
  background-image: url("../img/projects/vibevault/vibevault-image.png");
}

.card-2 {
  background-image: url("../img/projects/mediacampaign/fontys.jpg");
}

.card-3 {
  background-image: url("../img/projects/easteregg/homepage-picture.png");
}

.card-4 {
  background-image: url("../img/projects/projectx/projectx.png");
}

.card-5 {
  background-image: url("../img/projects/portfolio/figma.png");
}

/* Projects */

/* Project 1 */

.project-1-header {
  background-image: url("../img/projects/vibevault/vibevault.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Project 1 */

/* Project 2 */

.project-2-header {
  background-image: url("../img/backgrounds/redesign.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Project 2 */

/* Project 3 */

.project-3-header {
  background-image: url("../img/backgrounds/easteregg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Project 3 */

/* Project 4 */

.project-4-header {
  background-image: url("../img/backgrounds/projectx.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Project 4 */

/* Project 5 */

.project-5-header {
  background-image: url("../img/ba/portfolio/portfolio.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Project 5 */

/* Outcomes */

.outcome-header {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.outcome-header-text {
  position: absolute;
  top: 150px;
  left: 110px;
  font-weight: 900;
  line-height: 1;
}

.outcome-body {
  background-color: white;
  width: 100vw;
}

.buttons-container {
  position: absolute;
  top: 85%;
  left: 110px;
}

/* Outcomes */

/* Outcome 1 */

.outcome-1 {
  background-image: url("../img/outcomes/outcome1.png");
}

/* Outcome 1 */

/* Outcome 2 */

.outcome-2 {
  background-image: url("../img/outcomes/outcome2.png");
}

/* Outcome 2 */

/* Outcome 3 */

.outcome-3 {
  background-image: url("../img/outcomes/outcome3.png");
}

/* Outcome 3 */

/* Outcome 4 */

.outcome-4 {
  background-image: url("../img/outcomes/outcome4.png");
}

/* Outcome 4 */

/* Outcome 5 */

.outcome-5 {
  background-image: url("../img/outcomes/outcome5.png");
}

/* Outcome 5 */
